body {
  background-color: rgb(3, 3, 51);
}

.container {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 600px;
  border: black solid 3px;
}
.top {
  padding-bottom: 10px;
}

.timer {
  float: right;
}

.score {
  float: left;
}

h1 {
  text-align: center;
  padding: 20px;
}

h3 {
  padding: 20px;
}

.start-button {
  background-color: rgb(39, 39, 230);
  color: aliceblue;
  font-weight: bold;
  width: 60px;
  height: 30px;
}

.hide {
  display: none;
}
